body {
    background: beige;
    padding: 1rem;
    text-align: center;
    
}

.title {
    background: linear-gradient(rgb(247, 61, 61), rgb(0, 140, 255));
    color: #fff;
    text-align: center;
    font-family: 'Arial';
    border-radius: 2rem;
}

#namePoke {
    height: 1.5rem;
    border-radius: .5rem;
    border: 1px solid #000;
}

#imgPoke {
    height: 1.5rem;
    border: 1px solid #000;
    border-radius: .5rem;
    margin-left: 1rem;
}
input {
    text-indent: 0.5rem;
    font-family: 'Lucida Sans';
    font-size: .9rem;
}

::placeholder {
    font-family: 'Lucida Sans';
}

#addPoke {
    margin-left: 1rem;
    background: #fff;
    width: 5rem;
    height: 1.5rem;
    border: 1px solid  #000;
    border-radius: .5rem;
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 1rem;
}

.card {
    display: grid;
    background: #b5fdfd;
    width: 16rem;
    height: 22rem;
    padding: 1.5rem;
    margin: 0.5rem 0;
    border: 1px solid red;
    border-radius: 1rem;
}
#list {
    justify-content: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 2rem;
    margin-top: 5rem;
}
.name {
    color: #0c2ab3;
    text-align: center;
}
.img {
    background: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 2rem;
}
.delete {
    display: flex;
    position: relative;
    margin-left: 96%;
    margin-top: -8%;
    margin-bottom: 1%;
    border: none;
    background: transparent;
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}